<MudAppBar Color="Color.Primary">
    <div style="width: 200px; "><MudText Typo="Typo.h6">More C# Guides</MudText></div>
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem>
            <MudLink Href="/" Color="Color.Secondary" Typo="Typo.h4"> Home</MudLink>
        </MudItem>
        <MudItem>
            <MudLink Href="guides" Color="Color.Secondary" Typo="Typo.h4">Guides</MudLink>
        </MudItem>
    </MudGrid>
    <div style="width: 200px; text-align: end;">
        <MudIconButton Target="_blank" Link="https://www.linkedin.com/in/izak-mcdowell-9027b11b9/" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit"/>
        <MudIconButton Target="_blank" Link="https://github.com/ZieMcd?tab=repositories" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"/>
    </div>
</MudAppBar>